/* reset */
@charset "utf-8";
blockquote,body,code,dd,div,dl,dt,fieldset,form,li,ol,optgroup,option,p,pre,select,td,textarea,th,ul{margin:0;padding:0;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,optgroup,th,var{font-style:normal;font-weight:400}
ins{text-decoration:none}
li,ol,ul{list-style:none}
table{font-size:inherit;font:100%}
caption,th{text-align:center}
q:after,q:before{content:''}
abbr,acronym{border:0;font-variant:normal}
legend{color:#000}
a{outline:0;color:#333}
button,input,optgroup,option,select,textarea{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
button,input,select,textarea{margin:0;line-height:1.2}
a img,img{-ms-interpolation-mode:bicubic}
:link,:visited,ins{text-decoration:none}
.cls:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cls{zoom:1}
#POP800_PANEL_DIV,#POP800_INIT_DIV,#POP800_LEAVEWORD_DIV{display: none !important;}
/*input{-webkit-appearance: none;}*/
.m-img embed{width: 100% !important; min-height: 280px;}
.combo-span{float: right; margin: 10px;}