
 p>b {
				color: red;
				font-weight: bold;
			}
			
			.fade {
				-webkit-transform: translate(0, 0);
				-ms-transform: translate(0, 0);
				-o-transform: translate(0, 0);
				transform: translate(0, 0);
				opacity: 0;
			}
			
			.fade.in {
				opacity: 1;
				-webkit-transition: opacity .15s linear;
				-o-transition: opacity .15s linear;
				transition: opacity .15s linear;
			}
			
			.fade .modal-sm {
				-webkit-transform: translate(0, -10%);
				-ms-transform: translate(0, -10%);
				-o-transform: translate(0, -10%);
				transform: translate(0, -10%);
			}
			
			.fade.in .modal-sm {
				-webkit-transition: -webkit-transform .3s ease-out;
				-o-transition: -o-transform .3s ease-out;
				transition: transform .3s ease-out;
				-webkit-transform: translate(0, 0%);
				-ms-transform: translate(0, 0%);
				-o-transform: translate(0, 0%);
				transform: translate(0, 0%);
			}
			
			.modal {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1040;
				overflow: hidden;
				-webkit-overflow-scrolling: touch;
				outline: 0;
				background: rgba(0, 0, 0, .3);
			}
			
			.modal h4 {
				font-size: 0.8em;
			}
			
			.bs-example-modal-sm {
				width: 100%;
				line-height: 45px;
				font-family: '黑体';
				font-size: 1.6em;
				border-bottom: 2px #ddd solid;
				text-align: center;
				display: none;
			}
			
			.modal-sm {
				width: 300px;
			}
			
			.modal-dialog {
				margin: 30px auto;
			}
			
			.modal-header {
				min-height: 16.43px;
				padding: 15px;
				border-bottom: 1px solid #e5e5e5;
			}
			
			.modal-content {
				position: relative;
				background-color: #fff;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				border: 1px solid #999;
				border: 1px solid rgba(0, 0, 0, .2);
				border-radius: 6px;
				outline: 0;
				-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
				box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
			}
			
			.modal-body {
				position: relative;
				padding: 15px;
			}
			
			#mydel {
				position: absolute;
				width: 40px;
				height: 40px;
				line-height: 40px;
				right: -16px;
				top: 82px;
				background: rgba(0, 0, 0, .85);
				color: #fff;
				border-radius: 50px;
				font-family: Arial;
				font-size: 20px;
				font-weight: 100;
				text-align: center;
			}

			/*去微信弹窗*/
			.tanchuang{
				width:280px;
				height: 180px;
				border:2px solid #339933;
				position: fixed;
				left: 50%;
				top: 50%;
				z-index: 1000000001;
				margin-left:-140px;
				margin-top: -90px;
				background-color: #fff;
				border-radius: 5px;
				text-align: center;
				display: none;
				font-family: "微软雅黑","新宋体",sans-serif;
			}
			.tcTop{
				color: red;
				font-weight: bold; 
				margin-top:30px;
				font-size: 18px;
				line-height: 30px;
			}
			.tcBottom{
				margin: 0 auto;
				width: 170px;
				margin-top: 25px;
			}
			.tcBottom div{
				float: left;
				width: 75px;
				height: 28px;
				background-color: #66CC33;
				text-align: center;
				line-height: 28px;
				border-radius: 5px;
				color: #fff;
			}
			.tcBottom .quweixin{
				margin-left: 20px;
				font-weight: bold;
			}
			.tcBottom a{
				color: #fff;
				display: inline-block;
				width: 65px;
				height: 25px;
			}
			/*去微信弹窗END*/

@import "base_1.css";
body {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	background: #fff;
}

.g-doc {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: .7rem;
	background: #fff
}

.m-nav {
	width: 100%
}

.m-nav img {
	width: 100%
}

.m-title {
	font-size: 1.5rem;
	font-weight: bolder;
	color: #000;
	text-align: center;
	line-height: 2em
}

.m-footer {
	font-size: .7rem;
	font-weight: bolder;
	color: #000;
	text-align: center;
	line-height: 5em
}

p {
	padding: .18rem
}

p.text-indent {
	text-indent: 2em;
	font-size: .7rem;
	margin: .1rem auto;
	width: 95%
}

strong {
	color: #ae038b;
	background-repeat: repeat-x;
	background-position: bottom center;
	padding-bottom: .3rem
}

p.m-tips {
	font-weight: 700;
	color: #fff;
	background: #ae038b;
	margin: .1rem auto;
	padding-top: .6rem;
	padding-bottom: .6rem
}

p.m-tips span {
	color: #feff00
}

p.m-border {
	border: 1px solid #ccc;
	padding-top: .6rem;
	padding-bottom: .6rem
}

.m-ul li {
	position: relative;
	border-top: .1rem dotted #ccc;
	padding: .3rem 1.6rem
}

.m-ul li:after {
	background: #ae038b;
	color: #fff;
	content: attr(data-id);
	position: absolute;
	left: 1%;
	top: 15%;
	border-radius: 50%;
	padding: .1rem;
	width: .8rem;
	height: .8rem;
	text-align: center
}

.m-message {
	color: #ae038b;
	padding: .5rem;
	position: relative;
	margin: .5rem
}

.m-message li {
	font-weight: 700;
	width: 98%
}

.m-message:before {
	border-left: .1rem solid #ae038b;
	border-top: .1rem solid #ae038b;
	width: 2.5rem;
	height: 2.5rem;
	background: 0 0;
	content: "";
	position: absolute;
	left: 0;
	top: 0
}

.m-message:after {
	border-bottom: .1rem solid #ae038b;
	border-right: .1rem solid #ae038b;
	width: 2.5rem;
	height: 2.5rem;
	background: 0 0;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0
}

.clf:before,
.clf:after {
	content: "";
	display: table
}

.clf:after {
	clear: both
}

.clf {
	*zoom: 1
}

.fl {
	float: left
}

.fr {
	float: right
}

.pr {
	position: relative
}

.disnone {
	display: none
}

.mg1 {
	margin: 1.4rem 0
}

.mt1 {
	margin-top: 1rem
}

.col_pink {
	color: #ff679a
}

.col_green {
	color: #ae038b!important
}

.col_deepgreen {
	color: #22ac38!important
}

.col_yellow {
	color: #ff0!important
}

.textIndent2 {
	text-indent: 2em!important
}

.fwb {
	font-weight: 700!important
}

.fz09 {
	font-size: .9rem!important
}

.main {
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	padding: 0;
	background: #f6f6f6;
	margin-top: -35px
}

#floatQQ {
	position: fixed;
	z-index: 10000;
	right: 0;
	top: 40%;
	width: 20%;
	max-width: 100px;
	cursor: pointer;
	display: none
}

#floatQQ img {
	width: 100%;
	height: auto
}

.top {
	position: relative;
	left: 0;
	top: 0
}

.top_box {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff
}

.top_box .top_l {
	position: absolute;
	left: 6%;
	top: 23%;
	width: 5rem;
	height: 5rem
}

.top_box .top_c {
	position: absolute;
	left: 29%;
	top: 26%
}

.top_c p {
	line-height: 1.6rem;
	text-align: left;
	font-size: 1.1rem;
	color: #fff
}

.top_c p .sex {
	width: 14%;
	margin-left: .6rem
}

.top_c p:nth-of-type(2) {
	font-size: .9rem
}

.top_c p .vip {
	width: 24%;
	margin-left: .4rem;
	margin-top: .2rem
}

.voice {
	background: #fff;
	border-radius: .6rem;
	display: block;
	width: 64%;
	height: 2.4rem;
	line-height: 1.6rem;
	margin-top: .2rem;
	position: relative;
	left: .3rem;
	top: 0
}

.voice .voice_pic {
	width: 13%;
	margin-left: -4.7rem;
	margin-top: .6rem
}

.voice span {
	position: absolute;
	left: 2.4rem;
	top: .4rem;
	color: #000;
	font-size: .7rem
}

.voice i {
	display: block;
	position: absolute;
	right: .7rem;
	top: .3rem;
	width: .5rem;
	height: .5rem;
	background: #ff3d6d;
	border-radius: 50%;
	animation: shake .5s ease infinite alternate;
	-webkit-animation: shake .5s ease infinite alternate;
	-moz-animation: shake .5s ease infinite alternate;
	-ms-animation: shake .5s ease infinite alternate;
	-o-animation: shake .5s ease infinite alternate
}

.voice .border {
	position: absolute;
	left: -.4rem;
	top: .2rem;
	width: 6%
}

.top_r {
	background: #ff679a;
	border-top-left-radius: 4rem;
	border-bottom-left-radius: 4rem;
	position: absolute;
	right: 0;
	top: 4.5rem;
	width: 6.5rem;
	height: 2.9rem;
	line-height: 2.4rem;
	overflow: hidden;
	animation: moveleft 1s forwards 0s;
	-webkit-animation: moveleft 1s forwards 0s;
	-moz-animation: moveleft 1s forwards 0s;
	-ms-animation: moveleft 1s forwards 0s;
	-o-animation: moveleft 1s forwards 0s
}

@keyframes moveleft {
	0% {
		right: -100%;
		opacity: 0
	}
	100% {
		right: 0%;
		opacity: 1
	}
}

@-webkit-keyframes moveleft {
	0% {
		right: -100%;
		opacity: 0
	}
	100% {
		right: 0%;
		opacity: 1
	}
}

@-moz-keyframes moveleft {
	0% {
		right: -100%;
		opacity: 0
	}
	100% {
		right: 0%;
		opacity: 1
	}
}

@-o-keyframes moveleft {
	0% {
		right: -100%;
		opacity: 0
	}
	100% {
		right: 0%;
		opacity: 1
	}
}

@-ms-keyframes moveleft {
	0% {
		right: -100%;
		opacity: 0
	}
	100% {
		right: 0%;
		opacity: 1
	}
}

.content {
	background: #fff
}

.content .menu {
	padding: 1rem 1rem 0
}

.content .menu li {
	float: left;
	width: 50%;
	text-align: center;
	padding-bottom: .2rem;
	border-bottom: 4px solid #e4e4e4
}

.content .menu li.on {
	border-bottom-color: #ae038b
}

.change .tips {
	height: 4rem;
	line-height: 4rem;
	text-align: right;
	font-size: .8rem;
	margin-right: .8rem;
	color: #999
}

.change .prev {
	margin-left: .8rem
}

.change .first {
	height: 14.2rem;
	position: absolute;
	left: 0;
	top: 0;
	background: 0 0;
	width: 100%
}

.change .first p {
	text-align: center
}

.change .first p:nth-of-type(1) {
	color: #64aaff;
	margin-top: -1.3rem
}

.change .first p:nth-of-type(2) {
	color: #ff679a;
	margin-top: .3rem
}

.change .first h3 {
	text-align: center;
	margin-top: .7rem;
	font-weight: 700;
	font-size: 1rem!important
}

.change .first a {
	color: #64aaff;
	font-size: .7rem;
	text-align: center;
	display: inline-block;
	margin-top: 1.1rem
}

.change .first #submit_btn {
	background: #ff679a;
	color: #fff;
	font-size: .9rem;
	padding: .4rem 3rem;
	border-bottom: 0;
	border-radius: .4rem;
	margin-top: 0!important
}

.change .first li.on {
	background: #ff679a!important
}

.change #case img {
	height: 15rem
}

.change #case .first ul {
	padding: .5rem;
	width: 100%
}

.change #case .first li {
	float: left;
	width: 45%;
	background: #ff8db3;
	text-align: center;
	padding: .4rem 0;
	font-size: .8rem;
	color: #fff;
	border-radius: .3rem;
	margin: 1%;
	line-height: 1rem
}

#case {
	margin-top: 1rem
}

#case p {
	font-size: .95rem;
	line-height: 1.4rem
}

#case #swiper_container {
	padding: 0 .7rem
}

.bottom_float {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000000;
	width: 100%
}

.bottom_float .audio_bottom {
	width: 8rem;
	height: 3rem;
	position: absolute;
	left: 5.1rem;
	top: .4rem
}

.bottom_float .audio_bottom .bottom_voice {
	width: 13%;
	margin-left: 1.2rem;
	margin-top: .8rem
}

.bottom_float .audio_bottom span {
	margin-top: .7rem;
	margin-left: .3rem;
	display: inline-block
}

.bottom_float .audio_bottom em {
	width: .4rem;
	height: .4rem;
	border-radius: 50%;
	background: #ff3d6d;
	display: inline-block;
	position: absolute;
	right: 1rem;
	top: .6rem;
	animation: shake .5s ease infinite alternate;
	-webkit-animation: shake .5s ease infinite alternate;
	-moz-animation: shake .5s ease infinite alternate;
	-ms-animation: shake .5s ease infinite alternate;
	-o-animation: shake .5s ease infinite alternate
}

.bottom_float .bottom_btn {
	width: 6rem;
	height: 3rem;
	position: absolute;
	right: .6rem;
	top: 1.5rem;
	animation: big 1.4s ease infinite alternate;
	-webkit-animation: big 1.4s ease infinite alternate;
	-moz-animation: big 1.4s ease infinite alternate;
	-ms-animation: big 1.4s ease infinite alternate;
	-o-animation: big 1.4s ease infinite alternate
}

.middle_voice .m_voiceTop .icon {
	width: 8%;
	margin-right: .3rem
}

.middle_voice .m_voiceTop span {
	font-size: 1.1rem;
	font-weight: 700;
	margin-top: .1rem
}

.middle_voice .m_voiceBottom {
	margin-top: .6rem
}

.middle_voice .m_voiceBottom p {
	font-size: .9rem;
	line-height: 1.4rem;
	color: #555
}

.middle_voice .m_voiceBottom a {
	font-size: .95rem;
	line-height: 1.4rem;
	color: #f69;
	margin: .2rem 0 .5rem;
	display: inline-block
}

#case .M_voice {
	padding: 0 1rem
}

#case .M_voice .Middle_voice {
	width: 5%;
	position: absolute;
	left: 11rem;
	top: 2.4rem
}

#case .M_voice span {
	position: absolute;
	left: 12.8rem;
	top: 2.4rem
}

#case .M_voice em {
	width: .4rem;
	height: .4rem;
	border-radius: 50%;
	background: #ff3d6d;
	display: inline-block;
	position: absolute;
	right: 7.6rem;
	top: 2.2rem;
	animation: shake .5s ease infinite alternate;
	-webkit-animation: shake .5s ease infinite alternate;
	-moz-animation: shake .5s ease infinite alternate;
	-ms-animation: shake .5s ease infinite alternate;
	-o-animation: shake .5s ease infinite alternate
}

#Mask,
.qq_Mask {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	z-index: 1000000000;
	display: none;
	max-width: 640px;
	min-width: 320px
}

.pr {
	position: absolute;
	left: 0;
	width: 100%;
	height: 20rem
}

.ok_Mask .pr {
	width: 70%;
	bottom: 50%;
	left: 15%;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	border-radius: .5rem
}

.ok_Mask .Mask_txt p {
	text-align: center
}

.ok_Mask .Mask_txt p:last-child {
	border-top: 1px solid silver
}

@media screen and (max-width:500px) {
	.pr {
		bottom: 0
	}
}

#Mask img,
.qq_Mask img {
	position: absolute;
	left: .2rem;
	width: 96%;
	height: 20rem;
	padding: .3rem
}

#Mask .Mask_txt,
.qq_Mask .Mask_txt {
	position: absolute;
	top: 8rem;
	font-size: .7rem;
	padding: .6rem
}

#Mask .Mask_txt h3,
.qq_Mask .Mask_txt h3 {
	font-weight: 700;
	margin-bottom: .3rem
}

#Mask .Mask_txt p:nth-of-type(1) {
	margin-bottom: .6rem;
	padding: .6rem
}

#Mask .close_Mask {
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 0;
	top: 8rem
}

#comment {
	display: none;
	padding: 0 1rem
}

#comment li {
	padding-bottom: 1.1rem;
	border-bottom: 2px solid #f2f2f2;
	margin-top: 1.1rem
}

#comment .user_Info img {
	width: 12%
}

#comment .user_Info span {
	font-weight: 700;
	margin-top: .7rem;
	margin-left: .6rem
}

#comment .user_Info strong {
	font-weight: 400;
	color: #999;
	margin-top: .8rem;
	font-size: .9rem;
	margin-right: .5rem
}

#comment .user_txt p {
	font-size: .9rem;
	color: #555;
	line-height: 1.4rem;
	margin-top: .8rem
}

#comment .user_Pic li:nth-of-type(1) {
	margin-left: 0
}

#comment .user_Pic li {
	float: left;
	width: 30%;
	padding-bottom: 0;
	margin-left: .4rem
}

.voice_pic.on,
.Middle_voice.on,
.bottom_voice.on {
	animation: shake .35s ease infinite alternate;
	-webkit-animation: shake .35s ease infinite alternate;
	-moz-animation: shake .35s ease infinite alternate;
	-ms-animation: shake .35s ease infinite alternate;
	-o-animation: shake .35s ease infinite alternate
}

@keyframes shake {
	0% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}

@-webkit-keyframes shake {
	0% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}

@-moz-keyframes shake {
	0% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}

@-ms-keyframes shake {
	0% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}

@-o-keyframes shake {
	0% {
		opacity: 1
	}
	100% {
		opacity: .1
	}
}

.add_btn {
	width: 5rem;
	height: 2rem;
	position: absolute;
	left: 10rem;
	top: 17rem;
	background: #ff679a;
	border-radius: .5rem;
	text-align: center;
	line-height: 2rem;
	color: #fff!important;
	font-size: .7rem;
	text-decoration: none!important
}

#third p {
	margin-top: 0!important
}

#thumb {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	z-index: 100000000000;
	display: none
}

#thumb .thumb_close {
	padding: .4rem;
	color: #fff;
	position: absolute;
	right: 0;
	top: 3rem;
	font-size: 1.8rem;
	font-size: 'Helvetica'
}

.depart {
	width: 100%;
	height: .4rem;
	background: #f2f2f2
}

.case_main {
	padding: 0 1rem
}

.case_main p {
	color: #000
}

.qq_Mask .Mask_txt {
	position: absolute;
	top: 9rem;
	font-size: .7rem;
	padding: .6rem
}

.qq_Mask p {
	font-size: .8rem
}

.qq_Mask .Mask_txt h3 {
	font-weight: 700;
	font-size: .8rem
}

.qq_Mask .close_Mask {
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 0;
	top: 8rem
}

.wechat {
	background: #ff0;
	text-align: center;
	padding: .4rem 0;
	margin-bottom: 1rem
}

.wechat span {
	background: #e60012;
	color: #000;
	padding: .1rem .3rem
}

.Link {
	color: #66b3ff;
	text-decoration: underline
}

.Mask_wechat {
	background: #ff679a;
	padding: .5rem 0 .7rem;
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
	width: 78%;
	margin: .6rem auto 0;
	border-radius: .5rem
}

.case_main .wechat_txt {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 1.6rem
}

.case_main .wechat_txt p {
	font-size: 1rem!important
}

.case_main .wechat_txt .wechat_txtnum {
	color: #fff;
	background: #ae038b;
	border-radius: 2rem;
	display: inline-block;
	padding: 0 .5rem .3rem;
	margin: .4rem 0
}

.InfoTitle {
	text-align: center;
	background: #22ac38;
	padding: .3rem 0;
	margin-bottom: 1.2rem
}

.InfoTitle h3 {
	color: #fff
}

.box_80 {
	width: 80%;
	margin: 1rem auto
}

.case_main .middle_voice {
	padding: .6rem .3rem;
	box-sizing: border-box;
	border: 1px solid #e5e5e5
}

.case_main .fit_people {
	margin-bottom: 1rem
}

.case_main .fit_people p {
	text-indent: 2em
}

.case_main .fit_people .fitTitle {
	text-align: center;
	color: #ae038b;
	font-size: 1.1rem;
	margin: .8rem 0 .4rem
}

.case_main .fit_people .fitTitle img {
	width: 4%;
	margin-top: .3rem;
	margin-right: .2rem
}
.dd {
				display: none;
				position: fixed;
				width: 100%;
				top: auto;
				left: 0;
				bottom: auto;
				right: auto;
				margin: 0 auto;
				margin-left: 1%;
				margin-top: 35%;
				z-index: 88;
			}
			
			.mask {
				position: fixed;
				display: none;
				top: 0;
				left: 0;
				width: 100%;
				height: 150%;
				background: #000;
				opacity: 0.9;
				z-index: 2;
			}
			
			.dd_img {
				position: relative;
				z-index: 100000000;
			}
			
			.dd_img img {
				width: 100%;
			}
			
			select {
				width: 2.5rem;
			}
			
			select option {}
			
			select {
				/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
				border: solid 1px #000;
				/*很关键：将默认的select选择框样式清除*/
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				/*在选择框的最右侧中间显示小箭头图片*/
				background: url("../images/arrow_1.png") no-repeat scroll right center transparent;
				/*为下拉小箭头留出一点位置，避免被文字覆盖*/
				padding-right: 14px;
			}

			.xfew{
				display: block; position: fixed; top: 160px; right: 10%; margin-left: -620px; width: 260px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 6px;
			}
			@media screen and (max-width: 550px){
				.xfew {
					display: none;
				}
				.mb-none{
					display: none;
				}
			}
			.mb-text{
				text-align: center;
			}
			.mb-text p{
				text-align: center;
				font-size: 22px;
				display: inherit;
				display: inline-block;
				background: #ff8db3;
				margin: 20px 0 0 0;
				padding: 10px;
				border-radius: 20px;
				color: #fff;
			}
			@media screen and (min-width: 551px){
				
				.mb-text{
					display: none;
				}
			}
/* 移动端 */
.tupiao {
    display: block;
    position: fixed;
    right: 2%;
    top: 60%;
    width: 18%;
    z-index: 99;
}

.wxtp {
    display: block;
    width: 100%;
}

/* 移动右固定 */
@media screen and (max-width: 1920px) {
    .tupiao {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .tupiao {
        display: block;
        position: fixed;
        right: 2%;
        top: 75%;
        width: 18%;
        z-index: 99;
    }
    .go {
        display: block;
        width: 100%;
    }
}
