
                                p.update {
                                    border: 1px dotted #000;
                                    background: #EFFFF7;
                                    padding: 4px 9px;
                                }

                                .m-b-30 {
                                    margin-bottom: 30px !important;
                                }

                                p.pink-text {
                                    color: #0198bd !important;
                                }

                                .m-b-5 {
                                    margin-bottom: 5px !important;
                                }

                                p.update .red-text {
                                    color: #F00 !important;
                                }

                                .revival-box {
                                    margin-left: 0;
                                    margin-right: 0;
                                    border: 1px solid #ccc;
                                    padding-top: 20px;
                                    padding-bottom: 10px;
                                    margin-bottom: 15px;
                                }

                                .text-center {
                                    text-align: center;
                                }

                                .revival-text {
                                    text-align: center !important;
                                }

                                .m-b-8 {
                                    margin-bottom: 8px !important;
                                }

                                .myButton {
                                    text-align: center;
                                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #40ad5d), color-stop(1, #5cbf2a));
                                    background: -moz-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
                                    background: -webkit-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
                                    background: -o-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
                                    background: -ms-linear-gradient(top, #40ad5d 5%, #5cbf2a 100%);
                                    background: linear-gradient(to bottom, #40ad5d 5%, #5cbf2a 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40ad5d', endColorstr='#5cbf2a', GradientType=0);
                                    background-color: #40ad5d;
                                    -moz-border-radius: 7px;
                                    -webkit-border-radius: 7px;
                                    border-radius: 7px;
                                    display: inline-block;
                                    cursor: pointer;
                                    color: #ffffff;
                                    font-family: Arial;
                                    font-size: 19px;
                                    padding: 12px 21px;
                                    text-decoration: none;
                                    text-shadow: 1px 1px 0px #2f6627;
                                    margin: 0 auto;
                                }
                            